<td class="text-left">
  <span class="fa fa-envelope" aria-hidden="true">
    <%= order.payment_detail.email %></span></p>
  <strong>
    <span class="fa fa-phone-square" aria-hidden="true">
      <%= order.payment_detail.phone %></span>
  </strong>
  </p>
  <span class="fa fa-location-arrow" aria-hidden="true">
    <%= order.payment_detail.address %></span>
</td>
